@import "tailwindcss";

@theme {
	--color-primary: var(--my-primary);
	--color-secondary: var(--my-secondary);
	--color-tertiary: var(--my-tertiary);
	--color-primary-accent: var(--my-primary-accent);
	--color-secondary-accent: var(--my-secondary-accent);
	--color-tertiary-accent: var(--my-tertiary-accent);

	--font-primary: "Dancing Script Variable", sans-serif;
	--font-secondary: "Itim", sans-serif;
	--font-tertiary: "Sunshiney", sans-serif;
}

@layer base {
	:root {
		--my-primary: #ffe5ec;
		--my-secondary: #ffc2d1;
		--my-tertiary: #ffb3c6;
		--my-primary-accent: #ff8fab;
		--my-secondary-accent: #fb6f92;
		--my-tertiary-accent: #f94c7c;
	}
}
