---
import { GITHUB_REPO_URL } from "@/constant";
import { Icon } from "astro-icon/components";
---

<nav class="w-full h-16 bg-primary-accent flex items-center justify-between p-4">
  <h1 class="font-secondary text-xl text-white">Project Valentine</h1>
  <ul>
    <li class="font-secondary text-lg">
      <a
        href={GITHUB_REPO_URL}
        class="flex flex-row gap-1 items-center justify-center underline hover:text-tertiary-accent text-white transition-colors duration-300"
      >
        <Icon name="mdi:github" class="github w-6 h-6" />
        <span class="github">Github</span>
      </a>
    </li>
  </ul>
</nav>
