---
import "@fontsource-variable/dancing-script";
import "@fontsource/itim";
import "@fontsource/sunshiney";

import "@/styles/globals.css";

import NavBar from "@/components/NavBar.astro";

interface Props {
  title?: string;
}

const { title = "Project Valentine" } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full text-[100%] xl:text-[120%]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-primary">
    <NavBar />
    <slot />
  </body>
</html>
